@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

$font-poppins:'poppins', sans-serif;
$font-roboto:'roboto', sans-serif;

@mixin default-font
{
font-family: $font-roboto;
font-weight: 900;
font-size: 1rem;
line-height: 1.5;
}
@mixin default-font-headline-1
{
    font-family: $font-poppins;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.5;
}
@mixin default-font-headline-2
{
    font-family: $font-poppins;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
}
@mixin default-font-headline-3
{
    font-family: $font-poppins;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;

}
