*{
    margin: 0;
    box-sizing: border-box;
}
.box{
    padding: 1rem;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-grid{
    display:grid;
    /* grid-template-columns: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */

    grid-template-rows: 100px 1 ;
}
.wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.d-grid{
    display: grid;
    
}
