*{
    margin: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
    justify-content: center;
    gap: 10px;
}   

.box{
    background-color: antiquewhite;
    border: 1px solid gray;
    padding: 25px ;
    flex: 1;
}
#box-1{flex:2;}
#box-2{flex:1;}
#box-3{flex:5;}
#box-4{flex:3;}