@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
html, body {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

main {
  flex: 1;
}

a {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  color: #6366F1;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.nav-link {
  line-height: 160%;
  font-weight: 600;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.nav-link:hover, .nav-link:active, .nav-link:focus,
.nav-link .active {
  color: #6366F1;
  text-decoration: none;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 40px;
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
}

h2 {
  font-size: 32px;
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
}

h3 {
  font-size: 28px;
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
}

h4 {
  font-size: 24px;
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
}

h5 {
  font-size: 20px;
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
}

h6 {
  font-size: 16px;
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
}

display-1 {
  font-size: 80px;
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
}

display-2 {
  font-size: 72px;
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
}

display-3 {
  font-size: 64px;
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
}

display-4 {
  font-size: 56px;
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
}

display-5 {
  font-size: 48px;
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
}

display-6 {
  font-size: 42px;
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
}

.button-primary {
  display: flex;
  padding: 11px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 22.4px */
  color: #FFFFFF;
  background: #6366F1;
  border: none;
}

.theme-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.theme-switch .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.theme-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.theme-switch .switch input:checked + .slider {
  background-color: #6366F1;
}
.theme-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}
.theme-switch .switch input:checked + .slider:before {
  transform: translateX(26px);
}
.theme-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.theme-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.theme-switch .switch .slider.round {
  border-radius: 34px;
}
.theme-switch .switch .slider.round:before {
  border-radius: 50%;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header img {
  flex: 1;
}
header nav {
  flex: 4;
  display: flex;
  gap: 20px;
}
header .theme-switch {
  flex: 1;
}
header button {
  flex: 1;
}