
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$font-manrope: 'Manrope', sans-serif;

@mixin standard-heading{
    line-height: 130%;
    font-weight: 800; 
    color: $gray-900;
    font-family: $font-manrope;
}

@mixin standard-text{
    line-height: 160%;
    font-weight: 400; 
    color: $gray-700;
    font-family: $font-manrope;

}