
.nav-link{
    line-height: 160%;
    font-weight: 600; 
    color: $gray-700;
    font-family: $font-manrope;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.25s ease-in-out;

    &:hover,
    &:active,
    &:focus,
    .active{
        color: $primary;
        text-decoration: none;

    }
}
.text-lead{
    @include standard-text;
    font-size: 24px;
}

.text-xl{
    @include standard-text;
    font-size: 20px;
}
.text-lg{
    @include standard-text;
    font-size: 18px;
}
.text-m{
    @include standard-text;
    font-size: 16px;
}
.text-s{
    @include standard-text;
    font-size: 14px;
}
.text-xs{
    @include standard-text;
    font-size: 12px;
}
h1{
    font-size: 40px;
    @include standard-heading;

}
h2{
    font-size: 32px;
    @include standard-heading;

}
h3{
    font-size: 28px;
    @include standard-heading;



}
h4{
    font-size: 24px;
    @include standard-heading;

}
h5{
    font-size: 20px;
    @include standard-heading;

 
}
h6{
    font-size: 16px;
    @include standard-heading;

}


display-1{
    font-size: 80px;
    @include standard-heading;

}
display-2{
    font-size: 72px;
    @include standard-heading;

}
display-3{
    font-size: 64px;
    @include standard-heading;

}
display-4{
    font-size: 56px;
    @include standard-heading;

}
display-5{
    font-size: 48px;
   @include standard-heading;
}
display-6{
    font-size: 42px;
    @include standard-heading;
}


